@charset "UTF-8";
.card-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card .card-body {
    height: calc(100% - 48px);
}

/* 캔버스 내의 차트의 사이즈를 조절하기 위해 명시적으로 사이즈 조절 */
.card-body > canvas {
   width: 100% !important;
   height: 100% !important;
   max-width: 100% !important;
   max-height: 100% !important;
}